{% extends 'base.html' %}
{% block title %}

    User profile
{% endblock %}
{% block site_content %}
    <div class="container wrapper">
        <h1>Hello, {{ request.user.username|capfirst }}!</h1>
        {% if profile_picture.profile_picture %}
            <img class="rounded-circle mb-3" src="{{ profile_picture.profile_picture.url }}"
                 alt="Generic placeholder image"
                 width="140"
                 height="140">
        {% else %}
            <img class="rounded-circle mb-3" src="https://afribary.com/authors/anonymous-user/photo"
                 alt="Generic placeholder image" width="140"
                 height="140">
        {% endif %}
        <div class="w-50 m-auto">
            <a href="{% url 'change profile pic' %}" class="btn btn-primary">Промени профилната си снимка</a>
        </div>
    </div>
    <hr>
    {% if announces %}
        <h2 class='text-center'>Your Announces</h2>
        <div class="row">
            <div class="row">
                {% for announce in announces %}

                    <div style="text-align: center; " class="col-lg-4">
                        <div class="col-12">

                            <h3 class="m-3"><strong>{{ announce.name }}</strong></h3>
                            <div class="card" style="">
                                <a id="announce" style="display: inline" href="{% url 'details  announce' announce.id %}">
                                    <img src="{{ announce.image.url }}" class="card-img-top"
                                         alt="Image of {{ announce.name }}">
                                    <div class="card-body">
                                        <p class="card-text"><strong>Описание:</strong> {{ announce.description }}</p>
                                        <p class="card-text"><strong>Цена: </strong>{{ announce.price }}</p>
                                        <p><strong>Публикувана на:</strong> {{ announce.date_published }} </p>
                                        {#                                <p><strong>От:</strong> {{ user.username }} </p>#}
                                        {#                                <p><strong>За контакт:</strong> {{ user.email }} </p>#}
                                        {#                                 <a href="{% url 'edit announce' announce.id %}" class="btn btn-primary">Промени обявата</a>#}
                                        {#                                 <a href="{% url 'edit announce' announce.id %}" class="btn btn-primary">Промени обявата</a>#}
                                    </div>
                                </a>
                            </div>

                        </div>

                    </div>

                {% endfor %}

            </div>
        </div>
    {% else %}
        <div class="text-center">
            <h2>Нямате обяви</h2>
            <a href="{% url 'create announcement' %}" class="btn btn-success">Качи обява</a>
        </div>
    {% endif %}
{% endblock %}
