h1 {
    font-size: 3.5rem;
}

#navbar {
    background-color: rgb(0, 47, 52);
}

/*a {*/
/*    color: red !important;*/
/*}*/
ul li a {
    color: white !important;
}
ul li a:hover{
    background-color: #39682b;
    /*font-size: 1.5rem;*/
}

.container {
    text-align: center!important;
}
.wrapper{
    max-width: 800px!important;
    margin-left: auto!important;
}

#searchbox {
    /*width: 600px;*/
    height: 40px;
}

.search-container {
    background-color: blue;
    padding: 20px;
}

.nav-item {
    color: white;
}

.mg-1 {
    margin: auto !important;
}

.login-container {
    background-color: #9ea7a9 !important;
    border-radius: 12px;

}

h3 {
    margin: auto !important;
}

.btn {
    margin-left: auto !important;
}

.button-cont {
    text-align: center;
}

.login-container h3 {
    text-align: center;
    padding-top: 10px;
}

span {
    color: white;
}

.content {
    min-height: calc(91vh - 70px);
}

.footer {
    min-height: 50px;
    background-color: #5d6668;
}
#announce:hover{
    opacity: 0.7;
}
#announce{
    display: inline!important;
    color: black;
}
