h1{
   font-size: 3.5rem;
}
#navbar{
    background-color: rgb(0,47,52);
}
a{
    color: white!important;
}
.container{
    text-align: center;
}
#searchbox{
    /*width: 600px;*/
    height: 40px;
}
.search-container{
    background-color: blue;
    padding: 20px;
}
.nav-item{
    color: white;
}
.mg-1{
    margin: auto!important;
}
.login-container{
    background-color: #9ea7a9!important;

}
h3{
    margin: auto!important;
}
.btn {
    margin-left: auto !important;
}
.button-cont{
    text-align: center;
}
